//colors
$--Primary-Color: #06ab58;
$--Secondary: #7ed957;
$--dark-black: #252525;
$--Pure-Black: #000;
$--Dark-Grey: #505050;
$--grey: #898989;
$--grey1: #788995;
$--Natural-grey: #d9d9d9;
$--light-grey: #e7e7e7;
$--Light-grey-2: #f7f7f7;
$--dark-green: #098948;
$--white: #ffffff;
$--Hover-Dark-Green: #098948;
$--Hover-Light-Green: rgba(126, 217, 87, 0.2);
